<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Trip</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/landingPage.css">

    <link rel="shortcut icon" type="image/png" href="assets/onetrip_logo_small.png">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">
            <img src="assets/onetrip_logo_small.png" class="d-inline-block align-top" alt="" width="40px" height="40px">
        </a>
        <a class="navbar-brand" href="#"> <span id="red">One</span> <span id="orange">Trip</span> </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapse_target">
            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#goals">Goals/Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About Us</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse order-3 dual-collapse2" id="collapse_target" >
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" id="auth">
                    <a class="nav-link" href="signIn.ejs">Log In</a>
                </li>
                <li class="nav-item" id="auth">
                    <a class="nav-link" href="signUp.ejs"><span class="glyphicon glyphicon-user"></span>Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Intro -->
    <section class="intro">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg" style="text-align: center; margin-top: 50px">
                    <span class="title" id="red">One</span> <span class="title" id="orange">Trip</span>
                    <br>
                    <img id="logo" src="assets/onetrip_logo_large.png">
                    <a href="map.ejs"><h1>Get Started!</h1></a>
                </div>
                <div class="col-lg" style="text-align: center; margin: 50px auto">
                    <h2>Welcome to OneTrip,</h2>
                    <p>the time checking app that will reduce </br> your wait time for shopping groceries!</p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WG0TPJcRAPo" 
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="goals_features" id="goals">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg" style="text-align: center; margin: 50px auto">
                    <h2>The Goals</h2>
                    <br>
                    <p>During this unprecedented time of COVID-19 pandemic, we realize the struggle of having to wait
                        long line-ups to get our essentials. We created OneTrip to help people finish
                        their grocery shopping in one quick go, reducing the time spent outdoors during this season.
                    </p>
                    <img class="img-fluid" src="images/shopping.jpg">
                </div>
                <div class="col-lg" style="text-align: center; margin: 50px auto">
                    <h2>A Brief Summary of Features</h2>
                    <ul>
                        <li>Nearby Stores: Display a map with local markets / grocery stores</li>
                        <li>Wait Times: Show the latest estimate of wait time for each store</li>
                        <li>User-update: Users can update the wait times of stores on the go</li>
                    </ul>

                    <div class="d-flex justify-content-around">
                        <img class="img-fluid w-25" src="images/onetrip1.jpg">
                        <img class="img-fluid w-25" src="images/onetrip2.jpg">
                    </div>
                        
                </div>
            </div>
        </div>
    </section>
    
    <section class="about" id="about">
        <div style="text-align: center; margin: 50px auto">
            <h2>About Us</h2>
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <p>
                            Before the COVID-19 pandemic, the only times we would line up in front of stores would be early mornings of
                            Black Friday and Boxing Day. However, we are now expected to line up for a loaf of bread and our favorite fruits.
                            OneTrip, created by DTC-16, is a shopping-helper that shows the estimated wait time of stores for the users, which
                            the users can also update as well. We, the members of DTC-16, believe grocery shopping should be easy and quick,
                            with minimum interaction and waiting outdoors.
                        </p>
                        <p>
                            DTC-16 is represented by Diyar Ravandi, Joshua Jang, Marlon Fajardo and Hyung Joon Lee. 
                            We believe in hard work and prosperity. Our team is built on teamwork and encouraging one another. 
                            If any problems arise in the group, we condone meetings and get to the root of the problem in a peaceful way. 
                            We all leave our egos at the door and do what is best for the team.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>DTC-16</h2>
            <div class="row" >
                <div class="col-lg" id="member-intro">
                    <img src="assets/user_icon.png">
                    <p>Fajardo, Marlon</p>
                    <p>Marlon Fajardo is a BCIT CST Term 2 student.</p>
                    <br>
                    <p>Interesting Fact: Marlon was once the youngest person in existence!
                        <br>(cue the baby crying)
                    </p>
                </div>
                <div class="col-lg" id="member-intro">
                    <img src="assets/user_icon.png">
                    <p>Jang, Junhyeok (Joshua)</p>
                    <p>Joshua Jang is a BCIT CST Term 1 student.</p>
                    <br>
                    <p>Interesting Fact: Joshua had a dog, a cat, and 7 bunnies as pets at once!</p>
                </div>
                <div class="col-lg" id="member-intro">
                    <img src="assets/user_icon.png">
                    <p>Lee, Hyungjoon</p>
                    <p>Hyungjoon Lee is a BCIT CST Term 1 student.</p>
                    <br>
                    <p>Interesting Fact: In the past, Hyungjoon bought $5 lottery ticket every week for 5 years,
                        but never won more than $5 for each ticket!
                    </p>
                </div>
                <div class="col-lg" id="member-intro">
                    <img src="assets/user_icon.png">
                    <p>Ravandi, Diyar</p>
                    <p>Diyar Ravandi is a BCIT CST Term 2 student.</p>
                    <br>
                    <p>Interesting Fact: Diyar is 6' 5". (so tall!!)</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>