<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Log In Page</title>
</head>

<body>
    <div>
        <main>

            <!-- One Trip Title -->
            <div class="oneTrip">
                <p id="one"><b>One</b></p>
                <p id="trip"><b>Trip</b></p>
            </div>


            <!-- Logo For Cat -->
            <div id="catLogo">
                <!-- <a href="      ">    "ABOUT US" Will Go Here    -->
                    <img src="img/catLogo.png">
                </a>
            </div>
            

            <!-- Login Input -->
            <form action="/index" method="post">
                <div class="login">
                    <p id="idInput"></p>
                    <input id="id" type="text" name="id" value="ID"></p>
                    
                    <p id="passwordInput"></p>
                    <input id="password" type="text" name="password" value="PASSWORD"></p>

                    <input id="goButton" type="submit" value="GO">
                </div>
            </form>


            <!-- Sign In String -->
            <div id="signIn">
                <a href="/views/pages/signin.ejs" style="text-decoration: none">Click to sign in</a>
            </div>


            <!-- BCIT logo -->
            <div>
                <!-- <a href="     ">    "Our Landing Page" will Go Here -->
                <img src="img/bcit.png" id="logo">
            </div>


            <!-- Team 16 -->
            <div>
                <a href="     " id="team16" style="text-decoration: none">DTC Team 16</a>
            </div>



        
        </main>
    </div>   
</body>
</html>