<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="marketinfo.css">
    <title>Map</title>

</head>

<body>
    <main>

        <!-- Go Back -->
        <div>
            <a href="/waitingtime">
            <img src="img/goBack.png" id="goBack">
            </a>
        </div>


        <!-- Log out -->
        <div id="logOut">
            <a href="/">
                <p id=logoutButton>Log Out</p>
            </a>
        </div>


        <!-- User Icon -->
        <img src="img/userIcon.png" id="userIcon">


        <!-- Market Name -->
        <!-- Need to Change After API Implemented-->
        <a href="https://www.igastoresbc.com/">
            <button type="submit" id="marketButton">IGA, Burrad st</button>
        </a>


        <!-- Open-Close -->
        <!-- Need to Change After API Implemented-->
        <div class="marketInfo">

            <p id="openClose">OPEN - CLOSE</p>
            <p id="openCloseTime">08:00 - 20:00</p>

            <p id="senior">SENIOR TIME</p>
            <p id="seniorTime">07:00 - 08:00</p>

            <p id="tel">TEL.</p>
            <p id="telNumber">(604) 605-0612</p>

        </div>
    </main>
</body>
</html>