<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="waitingtime.css">
    <title>Map</title>

</head>

<body>
    <main>

        <!-- Go Back -->
        <div>
            <a href="/map">
            <img src="img/goBack.png" id="goBack">
            </a>
        </div>


        <!-- Log out -->
        <div id="logOut">
            <a href="/">
                <p id=logoutButton>Log Out</p>
            </a>
        </div>


        <!-- User Icon -->
        <img src="img/userIcon.png" id="userIcon">


        <!-- Market Name -->
        <!-- Need to Change After API Implemented-->
        <a href="/marketinfo">
            <button type="submit" id="marketButton">IGA, Burrad st</button>
        </a>


        <!-- Instruction -->
        <p id="instruction">You have to wait ...</p>


        <!-- Waiting Time -->
        <!-- Time Should Changed Using "<%= %>" -->
        <img src="img/speechBubble.png" id="speechBubble">
        <p id="waitingTime">10 minutes</p>


        <!-- Logo For Cat -->
        <div id="catLogo">
            <!-- <a href="      ">    "ABOUT US" Will Go Here    -->
                <img src="img/catLogo.png">
            </a>
        </div>
        

        <!-- Update Button -->
        <a href="/update">
            <button id="updateButton">UPDATE</button>
        </a>
    </main>
</body>
</html>