/* One Trip */
/* Waiting Time (no.5) */
main{
    position: absolute;
    top: auto;
    left: auto;
    width: 450px;
    height: 900px;
    background-color: #DBF4FF;
    border: 3px solid red;
}

#goBack {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 20px;
    top: 50px;
}

#logoutButton{
    position: absolute;
    width: 155px;
    height: 65px;
    left: 175px;
    top: 10px;

    background: #FF5858;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 
                0px 4px 4px rgba(0, 0, 0, 0.25), 
                0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 65px;
    text-align: center;
    
    color: #FFFFFF;    
}

#userIcon {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 350px;
    top: 48px;
}

#marketButton {
    position: absolute;
    width: 336px;
    height: 65px;
    left: 55px;
    top: 160px;

    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;

    color: #2377A6;
}

#instruction {
    position: absolute;
    width: 300px;
    height: 126px;
    left: 70px;
    top: 230px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;

    color: #F85C2A;
}

#speechBubble {
    position: absolute;
    width: 280px;
    height: 200px;
    left: 60px;
    top: 310px;
}

#waitingTime {
    position: absolute;
    width: 175px;
    height: 100px;
    left: 110px;
    top: 270px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    text-align: center;

    color: #F85C2A;
}

#catLogo {
    position: absolute;
    width: 234px;
    height: 238px;
    left: 135px;
    top: 500px;

    background: url(iconfinder_cat_cart_185522.png);
}

#updateButton {
    position: absolute;
    width: 219px;
    height: 65px;
    left: 120px;
    top: 788px;

    background: #97FFC1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}